@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f2f2f2;

}

.container{

    height:100%;
    display:flex;
    flex-direction:column;
    background:#f5f5f5;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}
.chat_body{
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    padding: 4rem 1rem;
    margin:10px 0;
    height: 100%;
    color:#fff;


}

.chat_message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background: #3498db;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.message_image{
    width:40vw ;
    height: auto;
}
.message{
    max-width: 160px;

}
.chat_receiver{
    margin-left: auto;
    background:#2ecc71 ;
}
.chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
    display: block;
    margin-top:5px ;
}
.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    color: #1A1A1D;
    font-size: xx-small;
    text-transform: capitalize;
}
.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background: gainsboro;
    border-top: 1px solid lightgray;
}
.contacts{
    list-style: none;
    padding: 0;
    text-transform: capitalize;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;

}


.online_icon{

    height: 12px;
    width:12px;
    color: #4cd137;
    border-radius: 50%;
}
.offline{
    background-color: #c23616 !important;
}
.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.user_info span{
    font-size: 20px;
    color: white;
}
.user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}



.chat_footer {
    background-color: #3f51b5;
    /*padding: 20px 20px;*/
    /*color: white;*/
    display: flex;
    justify-content: space-evenly;

    /*text-align: center;*/

    margin:auto 0 5px 0;
    padding:10px;
    height: 50px;

}

/* Clear floats after the header */
.chat_footer:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    flex: 1;
    padding: 10px;
    float: left;
    font-size: 16px;
}

._1ceqH ._1lB9c{
    display: none;
    background: #1A1A1D;
}
.recorderHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
