@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f2f2f2;

}

.container{
    display: flex;
    flex-direction: column;
    height: 89.7vh;
}
.chat_body{
    width: 100%;
    overflow-y: auto;
    margin-top: 20px;
    background: #fff;
    height: 73vh

}

.msg_cotainer{
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 18px;
    position: relative;
    min-width: 178px;
    max-width: 230px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}
.msg_cotainer_send{
    margin-top: 20px;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 18px;
    position: relative;
    min-width: 178px;
    max-width: 230px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}
.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}
.name{
    position: absolute;
    left: 10px;
    top: 0;
    color: rgba(67, 65, 65, 0.5);
    font-size: 14px;
    text-transform: capitalize;

}
.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: black;
    font-size: 10px;
}
.contacts{
    list-style: none;
    padding: 0;
    text-transform: capitalize;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;

}
.active{
    background-color: #f2f2f2;
    color: black;
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{

    height: 12px;
    width:12px;
    color: #4cd137;
    border-radius: 50%;
}
.offline{
    background-color: #c23616 !important;
}
.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
.user_info span{
    font-size: 20px;
    color: white;
}
.user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}



.chat_footer {
    background-color: #f44336;
    padding: 20px 20px;
    color: white;
    display: flex;
    justify-content: space-evenly;

    text-align: center;

}

/* Clear floats after the header */
.chat_footer:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    flex: 1;
    padding: 10px;
    float: left;
    font-size: 16px;
}

._1ceqH ._1lB9c{
    display: none;
    background: #1A1A1D;
}
.recorderHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
